.form {
    display: flex;

    height: 10vh;
    margin-bottom: 30px;

    border-bottom: 1px solid #000;

    align-items: center;
}

.form-input {
    width: 80%;
    height: 30px;
    padding: 10px;
}
.form-btn {
    width: 20%;
    height: 30px;
}
